<ng-container>
  <td class="bold-text normal-text" [ngClass]="{'main-color': darker, 'sorted': sortingBy('name')}">
    {{item.name}}
  </td>

  <td class="big-text thin-text" [ngClass]="{'main-color': darker, 'sorted': sortingBy('workerCount')}">
    {{item.workerCount}}
  </td>

  <td class="bold-text" [ngClass]="{'main-color': darker, 'sorted': sortingBy('complianceScore')}">
    {{complianceScore}}
  </td>

  <td class="main-color big-text" [ngClass]="{'main-color': darker, 'sorted': sortingBy('grossPayTotal')}">
    {{formatCost(item.grossPayTotal)}}
  </td>

  <td [ngClass]="{'main-color': darker, 'sorted': sortingBy('payrollAdminTotal')}">
    {{formatCost(item.payrollAdminTotal)}}
  </td>

  <td class="big-text thin-text" [ngClass]="{'main-color': darker, 'sorted': sortingBy('labourCostTotal')}">
    {{formatCost(item.labourCostTotal)}}
  </td>

  <td class="center bold-text" [ngClass]="{'main-color': darker, 'sorted': sortingBy('workForce')}">
    {{workForceTotal}}
  </td>

</ng-container>
