<table *ngIf="tableData" id="customers" cellspacing="0">
  <thead>
    <tr>
      <th (click)="sort('name')" [ngClass]="{'sorted': sortingBy('name')}">Payroll <br>Provider
        <i *ngIf="sortingBy('name')" class="arrow" [ngClass]="sortOrder ? 'up' : 'down'"></i>
      </th>

      <th (click)="sort('workerCount')" [ngClass]="{'sorted': sortingBy('workerCount')}">Worker
        <i *ngIf="sortingBy('workerCount')" class="arrow" [ngClass]="sortOrder ? 'up' : 'down'"></i>
      </th>

      <th (click)="sort('complianceScore')" [ngClass]="{'sorted': sortingBy('complianceScore')}">Compliance Score
        <i *ngIf="sortingBy('complianceScore')" class="arrow" [ngClass]="sortOrder ? 'up' : 'down'"></i>
      </th>

      <th (click)="sort('grossPayTotal')" [ngClass]="{'sorted': sortingBy('grossPayTotal')}">Gross <br>Pay (£)
        <i *ngIf="sortingBy('grossPayTotal')" class="arrow" [ngClass]="sortOrder ? 'up' : 'down'"></i>
      </th>

      <th (click)="sort('payrollAdminTotal')" [ngClass]="{'sorted': sortingBy('payrollAdminTotal')}">Payroll Admin (£)
        <i *ngIf="sortingBy('payrollAdminTotal')" class="arrow" [ngClass]="sortOrder ? 'up' : 'down'"></i>
      </th>

      <th (click)="sort('labourCostTotal')" [ngClass]="{'sorted': sortingBy('labourCostTotal')}">Labour <br>Cost (£)
        <i *ngIf="sortingBy('labourCostTotal')" class="arrow" [ngClass]="sortOrder ? 'up' : 'down'"></i>
      </th>

      <th (click)="sort('workForce')" [ngClass]="{'sorted': sortingBy('workForce')}">Work-<br>force
        <i *ngIf="sortingBy('workForce')" class="arrow" [ngClass]="sortOrder ? 'up' : 'down'"></i>
      </th>
    </tr>
  </thead>

  <ng-container *ngIf="sortingBy('name')">
    <tr custom-table-row [item]=directContractors [totalWorkerCount]=totalData.workerCount [sortedKey]="sortedKey">
    </tr>

    <tr class="blank_row">
      <td colspan="3"></td>
    </tr>

  </ng-container>

  <tr custom-table-row *ngFor="let provider of sorted" [item]=provider [totalWorkerCount]=totalData.workerCount
    [sortedKey]="sortedKey">
  </tr>

  <tr class="blank_row">
    <td colspan="3"></td>
  </tr>

  <tr custom-table-row [item]=totalData [darker]=true [totalWorkerCount]=totalData.workerCount [sortedKey]="sortedKey">
  </tr>
</table>
