td {
  color: var(--main-color);
  font-size: var(--normal-font-size);
  padding-inline: 30px;
  padding-block: 10px;
  text-align: right;
  max-width: 180px;
}

td:nth-child(3),
td:nth-child(6) {
  border-right: thin solid var(--main-color);
}

td:nth-child(n - 3) {
  text-align: left;
}

td:nth-child(n + 4) {
  text-align: right;
}

.center {
  text-align: center;
}
